#addProductDiv {
  display: flex;
  flex-direction: column;
  width: 320px;
  align-items: baseline;
  height: 200px;
  justify-content: space-between;
  margin: 3% 0% 0% 3%;
}
#addProductDiv div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#btnAddProduct {
  border: 2px solid black;
  background-color: white;
  height: 50px;
  padding: 5px 10px;
}
#form input {
  height: 25px;
  width: 20%;
}
#productTable {
  margin: 2% 0%;
  background-color: grey;
  border-collapse: collapse;
}
#productTable th {
  cursor: grab;
  color: white;
}
#productTable td,
th {
  border: 1px solid #ffffff;
  padding: 8px;
}
#productTable td {
  background-color: #d7d7d7;
}
.btnDelete{
    padding: 5px 10px;
    margin: 0 10px;
    font-weight: 700;
}
.btnQuantityUpdate{
  padding: 2px 8px;
    margin: 0 5px;
    font-weight: 600;
    font-size: 15px;
}
